<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='book_search.css') }}" />
    <title>Search Results</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='Notes-Dark-Academia.jpeg') }}">

</head>
<body>
    <h1>Search Results</h1>
    {% if users %}
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Book</th>
                <th>Author</th>
                <th>Genre</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.user_name }}</td>
                <td>{{ user.book_name }}</td>
                <td>{{ user.author_name }}</td>
                <td>{{ user.genre }}</td>
                <td>{{ user.rating }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No results found.</p>
    {% endif %}
    <a href="{{ url_for('library') }}">
        <button type="button">Back to Library</button>
    </a>
</body>
</html>