<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='thank_you.css') }}" />
        <title>Thank You!</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='Notes-Dark-Academia.jpeg') }}">
    </head>
    <body>
        <h1> We are excited to read the book you <br> recommended and see what it's all about! <br><br> Feel free to suggest more books!</h1>

        <a href="{{ url_for('addmore') }}">
            <button type="button">Add More Books</button>
        </a>
    </body>
</html>